body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    justify-items: center;
    padding: 20px;
}

.album {
    
    padding: 12px;
    cursor: pointer;
    color: rgb(55, 55, 55);
    font-weight: bold;
    background-color: #fcabd3;
    border-radius: 8px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    height:200px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:url(./images/images.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
   
}

.album:hover {
    transform: scale(1.05);
    box-shadow: 0 0px 5px 5px rgba(255, 33, 177, 0.2);
}

.photos {
    display: none;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.album-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px; /* Space between album name and images */
    text-align: center;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px; /* Space between images */
    justify-items: center;
    width: 100%;
    
    
}

.photo {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.photo:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.photo-viewer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    justify-content: center;
}

.photo-viewer img {
    max-width: 90%;
    max-height: 80%;
    border-radius: 10px;
}

.photo-viewer .close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.photo-viewer .nav {
    position: absolute;
    font-size: 30px;
    color: white;
    cursor: pointer;
    user-select: none;
}

.photo-viewer .prev {
    left: 20px;
}

.photo-viewer .next {
    right: 20px;
}

.back-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #45a049;
}